name: Build DotaOptimizer EXE

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install psutil pystray pillow customtkinter requests GPUtil pyinstaller

    - name: Build EXE
      run: |
        pyinstaller --noconsole --onefile dota_optimizer_final.py

    - name: Upload EXE
      uses: actions/upload-artifact@v3
      with:
        name: DotaOptimizer
        path: dist/dota_optimizer_final.exe
